@media (max-width: 767.98px) {
    .img-logo {
        width: 9em;
    }
    .border-sm-grey-45 {
        border: 1px solid;
        border-image-source: linear-gradient(45deg, rgb(255, 255, 255) 70%, rgb(200, 200, 200) 100%);
        border-image-slice: 1;
    }
    .border-sm-grey-135 {
        border: 1px solid;
        border-image-source: linear-gradient(135deg, rgb(255, 255, 255) 70%, rgb(200, 200, 200) 100%);
        border-image-slice: 1;
    }
    .border-sm-grey-225 {
        border: 1px solid;
        border-image-source: linear-gradient(225deg, rgb(255, 255, 255) 70%, rgb(200, 200, 200) 100%);
        border-image-slice: 1;
    }
    .border-sm-grey-315 {
        border: 1px solid;
        border-image-source: linear-gradient(315deg, rgb(255, 255, 255) 70%, rgb(200, 200, 200) 100%);
        border-image-slice: 1;
    }
    .brand-philosophy legend {
        font-size: calc(1rem + 0.3vw);
    }
    .playpause {
        background-image: url(../images/play_button_small.png);
        background-repeat: no-repeat;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        margin: 0px 15px 7px 15px;
        background-color: hsla(0, 0%, 0%, 0.12);
        background-position: center;
    }
    .map-frame {
        height: 300px;
        width: 300px;
        margin: 0 auto;
        display: block;
    }
}

@media (min-width: 767.98px) {
    .img-logo {
        width: 220px;
    }
    .border-grey {
        border: 1px solid rgb(200, 200, 200);
    }
    .border-grey-bottom-half {
        border: 1px solid;
        border-image-source: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(200, 200, 200) 100%);
        border-image-slice: 1;
    }
    .border-grey-left-half {
        border: 1px solid;
        border-image-source: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(200, 200, 200) 100%);
        border-image-slice: 1;
    }
    .border-grey-right-half {
        border: 1px solid;
        border-image-source: linear-gradient(270deg, rgb(255, 255, 255) 0%, rgb(200, 200, 200) 100%);
        border-image-slice: 1;
    }
    .border-grey-top-half {
        border: 1px solid;
        border-image-source: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(200, 200, 200) 100%);
        border-image-slice: 1;
    }
    .border-grey-45 {
        border: 1px solid;
        border-image-source: linear-gradient(45deg, rgb(255, 255, 255) 70%, rgb(200, 200, 200) 100%);
        border-image-slice: 1;
    }
    .border-grey-135 {
        border: 1px solid;
        border-image-source: linear-gradient(135deg, rgb(255, 255, 255) 70%, rgb(200, 200, 200) 100%);
        border-image-slice: 1;
    }
    .border-grey-225 {
        border: 1px solid;
        border-image-source: linear-gradient(225deg, rgb(255, 255, 255) 70%, rgb(200, 200, 200) 100%);
        border-image-slice: 1;
    }
    .border-grey-315 {
        border: 1px solid;
        border-image-source: linear-gradient(315deg, rgb(255, 255, 255) 70%, rgb(200, 200, 200) 100%);
        border-image-slice: 1;
    }
    .product-border {
        border-left: 3px solid #bf358e;
        padding-left: 8px !important;
    }
    .playpause {
        background-image: url(../images/play-button.png);
        background-repeat: no-repeat;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background-color: hsla(0, 0%, 0%, 0.12);
        background-position: center;
        margin: 0 0 1% 0;
        z-index: 1;
    }
    .map-frame {
        height: 300px;
        width: 300px;
        margin: 0 auto;
        display: block;
    }
}

@media (min-width: 991.98px) {
    .img-logo {
        width: auto;
    }
    .border-grey-45 {
        border: 1px solid;
        border-image-source: linear-gradient(45deg, rgb(255, 255, 255) 70%, rgb(200, 200, 200) 100%);
        border-image-slice: 1;
    }
    .border-grey-135 {
        border: 1px solid;
        border-image-source: linear-gradient(135deg, rgb(255, 255, 255) 70%, rgb(200, 200, 200) 100%);
        border-image-slice: 1;
    }
    .border-grey-225 {
        border: 1px solid;
        border-image-source: linear-gradient(225deg, rgb(255, 255, 255) 70%, rgb(200, 200, 200) 100%);
        border-image-slice: 1;
    }
    .border-grey-315 {
        border: 1px solid;
        border-image-source: linear-gradient(315deg, rgb(255, 255, 255) 70%, rgb(200, 200, 200) 100%);
        border-image-slice: 1;
    }
    .map-frame {
        height: 400px;
        width: 400px;
        margin: 0 auto;
        display: block;
    }
}

@media (min-width: 1199.98px) {
    .border-grey-45 {
        border: 1px solid;
        border-image-source: linear-gradient(45deg, rgb(255, 255, 255) 70%, rgb(200, 200, 200) 100%);
        border-image-slice: 1;
    }
    .border-grey-135 {
        border: 1px solid;
        border-image-source: linear-gradient(135deg, rgb(255, 255, 255) 70%, rgb(200, 200, 200) 100%);
        border-image-slice: 1;
    }
    .border-grey-225 {
        border: 1px solid;
        border-image-source: linear-gradient(225deg, rgb(255, 255, 255) 70%, rgb(200, 200, 200) 100%);
        border-image-slice: 1;
    }
    .border-grey-315 {
        border: 1px solid;
        border-image-source: linear-gradient(315deg, rgb(255, 255, 255) 70%, rgb(200, 200, 200) 100%);
        border-image-slice: 1;
    }
}

@media (max-width: 1200px) {
    legend {
        font-size: calc(1.275rem + 0.3vw);
    }
    h1,
    .h1 {
        font-size: calc(1.375rem + 1.5vw);
    }
    h2,
    .h2 {
        font-size: calc(1.325rem + 0.9vw);
    }
    h3,
    .h3 {
        font-size: calc(1.3rem + 0.6vw);
    }
    h4,
    .h4 {
        font-size: calc(1.275rem + 0.3vw);
    }
    .display-1 {
        font-size: calc(1.725rem + 5.7vw);
    }
    .display-2 {
        font-size: calc(1.675rem + 5.1vw);
    }
    .display-3 {
        font-size: calc(1.575rem + 3.9vw);
    }
    .display-4 {
        font-size: calc(1.475rem + 2.7vw);
    }
    .close {
        font-size: calc(1.275rem + 0.3vw);
    }
}

@font-face {
    font-family: HelveticaThin;
    src: url('../font/HelveticaNeue-Thin.otf');
}

@font-face {
    font-family: ProximaNova-Regular;
    src: url('../font/ProximaNova-Regular.otf');
}

.navbar-nav {
    width: 100%;
    text-align: center;
}

.nav-link {
    font-size: 16pt;
}

.nav-link {
    font-family: HelveticaThin !important;
    padding-right: 1em !important;
    padding-left: 1em !important;
}

.top-banner {
    background-color: #bf358e;
    height: 10px;
}

.nav-link:hover {
    color: #bf358e !important;
}

.testimonial {
    background-color: #bf358e;
    color: #FFFFFF;
    background: #bf358e;
    background: radial-gradient(circle, rgba(191, 53, 142, 1) 0%, #840958 100%);
}

.testimonial-review {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 23px 35px 40px;
    position: relative;
    text-align: left;
}

.testimonial-review:after {
    content: "";
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #fff;
    position: absolute;
    top: 100%;
    text-align: center;
    margin: 0 auto;
    right: 0;
    left: 0;
    width: 0px;
}

.testimonial-review>p:before {
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    text-align: center;
    margin: 0 auto;
    right: 0;
    left: 0;
    display: block;
    font-size: 40px;
    color: black;
    padding: 0 0 15px 0;
}

.testimonial-review>p {
    color: black;
    font-family: HelveticaThin !important;
}

.pic {
    margin-top: 30px;
    text-align: center;
}

.header {
    text-align: center;
    padding: 1.5em 0;
}

h3 {
    color: #bf358e;
    text-transform: uppercase;
    /* text-align: center; */
    font-family: ProximaNova-Regular !important;
}

h3::after {
    content: '';
    display: block;
    position: relative;
    width: 13%;
    border-top: #bf358e solid 2px;
    /* text-align: center; */
    margin: 0 auto;
    top: 0.2em;
    bottom: 0.2em;
}

.testimonial h3::after {
    content: '';
    display: block;
    position: relative;
    width: 13%;
    border-top: #ffffff solid 2px;
    /* text-align: center; */
    margin: 0 auto;
    top: 0.2em;
    bottom: 0.2em;
}

.footer h3::after,
h3.footer::after {
    content: '';
    display: block;
    position: relative;
    width: 90%;
    border-top: #bf358e solid 2px;
    /* text-align: center; */
    margin: 0 auto;
    top: 0.2em;
    bottom: 0.2em;
}

.footer h3,
h4,
h5,
h3.footer,
.contact-us-address h3 {
    display: inline-block;
}

.footer h4 {
    color: #bf358e !important;
}

h4.underline-effect::after {
    content: '';
    display: block;
    position: relative;
    border-top: #ffffff solid 2px;
    top: 0.2em;
}

.fa-envelope,
.fa-phone {
    font-weight: 900;
    color: #bf358e !important;
}

.border-bottom-10 {
    border-bottom-width: 5px !important;
}

.bg-pink {
    background-color: #bf358e !important;
}

.color-pink,
.navbar-nav .active {
    color: #bf358e !important;
}

h4.color-pink::after,
h5.color-pink::after {
    content: '';
    display: block;
    position: relative;
    border-top: #bf358e solid 2px;
    top: 0.2em;
}

.border-pink {
    border-color: #bf358e!important;
}

.brand-philosophy {
    background: url('../images/about_us_banner.jpg') no-repeat;
    background-size: 100% 100%;
}

p>legend,
address {
    font-family: HelveticaThin !important;
}

.header-bg-grey {
    background-color: #dddddd;
    /* Change hex color */
    padding: 20px;
    /* Add some padding to the heading */
}

h3.header-bg-grey {
    display: inline-block;
}

h3.header-bg-grey::after {
    content: '';
    display: block;
    position: relative;
    width: 60%;
    border-top: #bf358e solid 2px;
    text-align: center;
    margin: 0 auto;
    top: 0.2em;
    bottom: 0.2em;
}

.slick-prev:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f053";
    font-size: 40px;
}

.slick-next:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
    font-size: 40px;
}

.bg-black {
    background-color: #000000!important;
}

.footer p {
    font-family: HelveticaThin !important;
}

.btn-pink {
    color: #fff;
    background-color: #bf358e;
    border-color: #bf358e;
}

.btn-pink:hover {
    color: #fff;
    background-color: #bf358e;
    border-color: #bf358e;
}


/* Style Input */

input.subscribe {
    background: #bf358e;
    border: none;
    padding: 0.5em;
    outline: none;
    width: 90%;
    color: white !important;
}

.btn-subscribe {
    position: absolute;
    right: 14%;
    top: 5px;
    padding: 0px 0.5em 0px 0.5em;
    outline: none;
}

input.subscribe::placeholder {
    color: white;
    opacity: 1;
}

.about-us-banner {
    background-image: url('/images/about_us_banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 200px;
    width: 400px;
}

.brand-philosophy h3::after {
    content: '';
    display: block;
    position: relative;
    width: 13%;
    border-top: #ffffff solid 2px;
    margin: 0 auto 10px auto;
    top: 0.3em;
}

@media (hover: hover) {
    .project-hover img {
        /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
        filter: gray;
        /* IE5+ */
        -webkit-filter: grayscale(1);
        /* Webkit Nightlies & Chrome Canary */
        -webkit-transition: all .8s ease-in-out;
    }
    .project-hover img:hover {
        filter: none;
        -webkit-filter: grayscale(0);
        -webkit-transform: scale(1.01);
    }
}


/*effect zoom*/

.mp-carousel span {
    display: block;
    transform: translate(-45%, 0) scale(0.8);
    transition: all .4s ease;
    opacity: .5;
}

.slick-slide.lt2 span {
    transform: translate(45%, 0) scale(0.8);
}

.slick-slide.lt1 span {
    opacity: .7;
    transform: translate(45%, 0) scale(0.8);
}

.slick-slide.gt1 span {
    opacity: .7;
    transform: translate(-45%, 0) scale(0.8);
}

.slick-slide.gt2 span {
    transform: translate(-45%, 0) scale(0.8);
}

.slick-slide.slick-center span {
    z-index: 1;
    transform: scale(1);
    opacity: 1;
    color: #e67e22;
}


/*FIN effect zoom*/

.mp-responsive {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.slick-slide {
    overflow: hidden;
}


/* .slick-slide span:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
} */


/* .slick-slide span.no-before::before {
    display: none;
} */


/* .slick-active iframe {
    width: 640px !important;
    height: 310px !important;
    margin-top: 10% !important;
}

.slick-active iframe {
    width: 640px !important;
    height: 410px !important;
    margin-top: 0 !important;
    z-index: 999;
}

.slick-active img {
    width: 640px !important;
    height: 410px !important;
    margin-top: 0 !important;
} */

.img-container-inline img {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.pdf-download h3::after {
    content: '';
    display: block;
    position: relative;
    width: 17%;
    border-top: #bf358e solid 2px;
    margin: 0;
    top: 0.2em;
    bottom: 0.2em;
}

.contact-us input,
.contact-us textarea {
    background: #000000;
    border: 1px solid white;
    padding: 0.5em;
    outline: none;
    color: white !important;
}

.contact-us input::placeholder,
.contact-us textarea::placeholder {
    color: white;
    opacity: 0.5;
}

.form-control:focus {
    background-color: black;
    border-color: white;
}

.contact-us-address h3::after {
    content: '';
    display: block;
    position: relative;
    width: 100%;
    border-top: #ffffff solid 2px;
    margin: 0;
    top: 0.2em;
    bottom: 0.2em;
}


/* .circle-map {
    width: 320px;
    height: 320px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
} */


/* .iframe-outer {
    display: inline-block;
    position: relative;
    width: 50%;
    margin-left: 25%;
}
.iframe-outer:after {
    content: '';
    display: block;
    margin-top: 100%;
}
.iframe-inner {
    overflow: hidden;
    border-radius: 5000px;
    transition: all ease .2s;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.iframe-inner iframe {
    height: 120%;
    width: 120%;
} */

#map {
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    border: 2px solid #A32175;
}

#map iframe {
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
}